<%- include("partials/header.ejs") %>

<h3>About</h3>

<p>On this website, I've designed a blog web application that not only allows the user to write and upload their own essays, but also allows them to read through a large database of carefully curated pieces of writing.</p>

<p>All of the essays uploaded to my database undergo a verification process before being displayed on the website.</p>

<p>Feel free to either browse through, or add to my collection.</p>
<%- include("partials/footer.ejs") %>